<!doctype html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
<%- include('../partials/nav.ejs') %>


<div class="not-found content">
    <h1>404</h1>
    <p>Sorry Page Does Not Found :)</p>
</div>

<%- include('../partials/footer.ejs') %>
</body>
</html>